:root {
	--bg-color: #c0b7b1;
	--text-color: #433e3f;
	--menu-color: #7a7265;
	--hl-color: #c69c72;
	--secondary-hl-color: #c0b7b1;
	--menu-text-color: var(--bg-color);
}

body {
	font-family: system-ui, sans-serif;
	font-size: 1.25rem;
	background: var(--bg-color);
	color: var(--text-color);
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	position: relative;
}

h1 {
	width: -moz-fit-content;
	width: fit-content;
	font-size: 3rem;
	margin: 1rem 0;
	text-align: center;
	border-bottom: 3px solid var(--hl-color);
}

p {
	margin: 0;
}

fieldset {
	border: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.icon.spin {
	transform: rotate(540deg);
}

/* Tooltip CSS */

[data-tooltip]:before,
[data-tooltip]:after {
	position: absolute;
	transform: translate(0);
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	white-space: nowrap;
	background: #333;
	padding: 0.5rem 1rem 0.5rem 1rem;
	font-size: 0.9rem;
	box-sizing: border-box;
	top: calc(100% + 11px);
	color: #fff;
	border-radius: 2px;
	text-shadow: 0px 1px 1px #000;
	z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	left: -170%;
	opacity: 1;
	visibility: visible;
	transition: 0.4s ease-in-out 0.3s;
}

footer {
	padding: 3rem 0;
	text-align: center;
	color: var(--menu-color);
	background: var(--secondary-hl-color);
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}